.section {
  padding: 60px 20px;
  text-align: center;
  background-color: #fff;
}

.title {
  text-align: center;
  font-size: 36px;
  font-weight: 750;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  font-size: 16px;
  color: #666;
  margin-bottom: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-content: center;
}

.gridTwo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-bottom: 2.5rem;
}

.gridThree {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: row;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
  overflow: hidden;
  max-width: 600px;
  text-align: left;
}

.imageWrapper {
  width: 50%;
  max-width: 280px;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  border: 1px solid rgba(95, 95, 95, 0.15);
}

.iconCircle {
  width: 48px;
  height: 48px;
  background-color: #e6faf6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.featureItem {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  font-size: 0.95rem;
  color: #333;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

.checkIcon {
  color: #1abc9c; /* бирюзовый цвет, можно заменить */
  margin-top: 0.2rem; /* слегка выровнять по вертикали */
  flex-shrink: 0;
}

.cardTitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  font-size: 14px;
  color: #333;
  margin-bottom: 8px;
}
